{% extends 'base.html' %}
{% block title %} {{article.titre}} {% endblock %}

{% block content %}

    <h1>{{article.titre}}</h1>
    <p>{{article.contenu}}</p>
    <em>
        {% for auteur in article.auteur.all %}
        {{auteur}}, 
        {% endfor %}
    </em>

    <form action="{% url 'supprimer_article' article.id %}">
        <button type="submit">Supprimer</button>
    </form>
    <form action="{% url 'modifier_article' article.id %}">
        <button type="submit">Modifier</button>
    </form>

{% endblock %}